/* Structure */
:root {
    --back: #BDE3F2;
    --hover: #5A98BF;
    --main: #7BBADB;
    --white: #012340;
}

body {
    background-color: #085496;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hamburger */
#hamburger div {
    width: 30px;
    height: 5px;
    background-color: var(--hover);
    margin: 5px 0;
}

.hide-small {
    display: none;
}

/* Navigation Pages */
#nav-pages {
    background-color: var(--back);
    padding: 5px;
    border-radius: 15px;
}

#nav-pages a {
    text-decoration: none;
    color: var(--hover);
}

#nav-pages a:hover {
    color: var(--main);
}

#nav-pages li {
    margin-right: 20px;
}

/* Main Header */
#main-header {
    background-color: var(--back);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right img {
    margin-left: 10px;
}

#main-header input[type="text"] {
    padding: 5px;
    border: 1px solid var(--white);
    border-radius: 5px;
    width: 300px;
    align-items: center;
}

/* Typography */
h2 {
    text-align: start;
    font-size: medium;
    color: var(--white);
}

h4 {
    text-align: center;
    font-size: x-large;
    color: var(--white);
}

p {
    font-size: small;
    color: var(--white);
}

h1 {
    color: var(--white);
}

.bold {
    font-weight: 1000;
}

a{
    text-decoration: none;
  }
/* Main Title */
main .main-title {
    border-bottom: 2px solid black;
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
}

main img#image {
    width: 100%;
    border-radius: 10px;
}

/* View All */
footer {
    padding-top: 30px;
    align-items: center;
}

#footer {
    text-align: center;
}

#button-view {
    background-color: var(--back);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 1000px;
}

#button-view:hover {
    background-color: var(--main);
}

/* Tablets/Phones and Cameras/Audio */
.main-cat, .main-cat1 {
    background-color: var(--back);
    border-radius: 10px;
    flex: 1;
    margin: 0 5px;
  }
  
  #main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--back);
    border-radius: 10px;
  }
  
  #button-tabpho {
    background-color: var(--main);
    color: var(--white);
    padding: 10px;
    margin-left: 250px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    width: 200px;
    height: 35px;
    align-self: center;
  }
  
  #button-tabpho:hover {
    background-color: var(--back);
  }
  
  section {
    flex: 5;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--main);
  }  
  
/* Larger Resolutions */
@media (min-width: 900px) {
    #main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header-content,
    .header-right {
        margin: 0;
    }

    #hamburger {
        display: none;
    }

    .hide-small {
        display: block;
    }

    #main-nav ul,
    .flex-container {
        display: inline-flex;
    }

    #main-nav li {
        display: inline-flex;
    }
}

@media (min-width: 894px) and (max-width: 1200px) {
    #main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-content,
    .header-right {
        margin: 10px 0;
        text-align: center;
    }

    .header-right img {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-content,
    .header-right {
        margin: 10px 0;
    }

    #button-view {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
